<br/>
%h2(italic="true" background="2 darkgoldenrod" border="0 darkgoldenrod" color="linen") &#32;Yul's&#32;
%h2(align="center" italic="false" background="2 linen" border="1 darkgoldenrod" color="goldenrod") Merchants and Craftsmen, an Almanac
<br/>
<hr/>

<br/>
<hr/>
<br/>
%columns
	%column
		%p(align="center" italic="true" background="3 dodgerblue" color="linen") Where They Live
		%h1(align="center" color="goldenrod") 👈
	%column
		%p(align="center" italic="true" background="3 tomato" color="linen") What They Trade
		%h1(align="center" color="goldenrod") 👉
